<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Symfony embedded render</title>
    </head>
    <body>
    <h1>Symfony embedded render with mode {{ mode|default('include') }}</h1>
    {% block body %}
    {% endblock %}
    </body>
</html>
